<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Home</title>
</head>
<body class="bg-secondary">
    <!-- Navbar -->
    <div th:replace="~{fragments/navBar :: navbar}"></div>
   

 <!-- Contenuto principale -->
 <div class="container text-center mt-5">
    <div class="jumbotron bg-light">
        <h2 class="display-4">Benvenuti nella Gallery di Videogame </h2>
        <p class="lead mt-3">
            Scopri la nostra vasta selezione di videogame per tutte le piattaforme: console e PC. Che tu sia un appassionato di giochi d'azione, avventura, sport, RPG o giochi da tavolo digitali, qui troverai le ultime novità e i titoli più popolari. Naviga facilmente attraverso le categorie, esplora le recensioni, e leggi le descrizioni per ogni gioco. Con aggiornamenti costanti sulle nuove uscite, troverai sempre qualcosa di entusiasmante da giocare. Unisciti alla nostra community di videogiocatori e resta sempre al passo con le tendenze del mondo del gaming!
        </p>
        <p>
            Non dimenticarti di uscire di casa, tra un game e l'altro, giusto 2 minuti
        </p>

    </div>
</div>

    <!-- Script Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
